@model IEnumerable<Aluguel.Models.Dominio.Colaborador>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    
</p>
<table class="table">
    <thead class="thead-light">
    
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeColaborador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcao)
            </th>
            <th></th>
        </tr>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeColaborador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcao)
                </td>
                <td>
                    <a class="btn btn-edit"asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                  
                    <a class="btn btn-deletar"asp-action="Delete" asp-route-id="@item.ID">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
