@model IEnumerable<Aluguel.Models.Dominio.Aluga>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Alugueis</h1>

<p>

</p>



    <table class="table">
        <thead class="thead-light">

            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.NomeCliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tamanho)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Observacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data_aluguel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bairro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data_devolucao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeColaborador)
                </th>
                <th></th>

            </tr>
        </thead>

<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tamanho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_aluguel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_devolucao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeColaborador)
            </td>
            <td>
                <a class="btn btn-edit"asp-action="Edit" asp-route-id="@item.ID">Editar</a> |

                <a class="btn btn-deletar"asp-action="Delete" asp-route-id="@item.ID">Deletar</a>
            </td>
        </tr>
    }
</tbody>
    </table>

