@model IEnumerable<Aluguel.Models.Consulta.AlugaGrup>

@{
    ViewData["Title"] = "AgruparAlugueis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Aluguies Colaboradores</h1>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeColaborador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cacamba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoCacamba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_aluguel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_devolucao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeColaborador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cacamba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoCacamba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_aluguel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_devolucao)
            </td>
            <td>
                <a  class="btn btn-edit"asp-action="Edit" asp-route-id="@item.ID">Editat</a> |
                
                <a  class="btn btn-deletar" asp-action="Delete" asp-route-id="@item.ID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
