@model IEnumerable<Aluguel.Models.Consulta.AlugaGrup>

@{
    ViewData["Title"] = "AgruparAlugueis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AgruparAlugueis</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeColaborador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cacamba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoCacamba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_aluguel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_devolucao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeColaborador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cacamba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoCacamba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_aluguel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_devolucao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
